.appear {
  opacity: 0;
  transform: scale(0.1);
  transition: transform 250ms linear;
}
.appearActive {
  opacity: 1;
  transform: scale(1);
}
.exit {
  transform: scale(1);
  opacity: 1;
}
.exitActive {
  opacity: 0;
  transform: scale(0);
  transition: all 250ms linear;
}
.title {
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 40px;
  color: #212121;
}
.container {
  padding: 0;
}
.modalButton {
  display: block;
  margin: 0 auto;
}
.button {
  padding: 13px 0;
  margin: 0 auto;
  display: block;
  width: 176px;
  border: 2px solid #fc842d;
  border-radius: 30px;
  background-color: #fc842d;
  color: #fff;
  font-weight: 700;
  font-family: Verdana;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.04em;
}
.button:hover {
  background-color: #fc842d;
  color: #fff;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
}
.buttonLink {
  text-decoration: none;
  color: white;
}
.caloriesText {
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 19.45px;
  color: #264061;
}
.caloriesValue {
  font-size: 48px;
  line-height: 58px;
}
.productsTitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 22px;
  padding-top: 35px;
  color: #212121;
}
.productsList {
  overscroll-behavior: contain;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  color: #9b9faa;
  margin-bottom: 40px;
  list-style-type: decimal;
  list-style-position: inside;
}
.productsItem:not(:last-child) {
  margin-bottom: 10px;
}
.caloriesText {
  position: relative;
}
.caloriesText::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  bottom: -30px;
  background-color: #e0e0e0;
  margin-top: 30px;
}
.overlay {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  background-color: rgba(33, 33, 33, 0.12);
}
.modal {
  position: absolute;
  top: 40px;
  width: 100%;
  padding: 40px 15px 80px;
  background-color: #fff;
}
.closeModalBtn {
  display: none;
}
.closeModalMobileBtn {
  width: 100%;
  height: 40px;
  position: absolute;
  top: -40px;
  left: 0;
  background: #eff1f3;
  border: 1px solid transparent;
  border-top: 1px solid #e0e0e0;
}
@media screen and (min-width: 650px) {
  .title {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 20px;
  }
  .container {
    padding-left: 83px;
    padding-right: 83px;
  }
  .productsTitle {
    padding-top: 40px;
  }
  .modal {
    width: 594px;
    height: 580px;
    padding: 64px 43px;
    top: 150px;
  }
  .overlay {
    top: 0;
    overflow-y: scroll;
  }
  .closeModalMobileBtn {
    display: none;
  }
  .closeModalBtn {
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 7px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid transparent;
    text-align: center;
    cursor: pointer;
  }
  .closeModalBtn:hover {
    background-color: rgba(37, 37, 37, 0.12);
  }
}
@media screen and (min-width: 1100px) {
  .modal {
    width: 690px;
    height: 580px;
    padding: 64px 90px 81px;
    top: 135px;
  }
}
/* Scroll-bar customisation */
.scrollbar {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: thin;
  scrollbar-color: #264061 #f0f1f3;
}
.scrollbar::-webkit-scrollbar {
  width: 6px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: #f0f1f3;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #264061;
  border-radius: 0px;
}
.scrollbar::-webkit-scrollbar-thumb:vertical {
  min-height: 1.5rem;
}
.scrollbar::-webkit-scrollbar-thumb:horizontal {
  min-width: 1.5rem;
}
