.secondary-button {
  font-family: "VerdanaBold";
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;

  width: 176px;
  height: 44px;
  margin-bottom: 20px;

  color: #fc842d;
  background-color: #fff;
  transition: all 250ms linear;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  outline: none;

  border: 3px solid #fc842d;
  border-radius: 30px;
}

.primary-button {
  font-family: "VerdanaBold";
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;

  width: 176px;
  height: 44px;
  margin-bottom: 20px;

  background-color: #fc842d;
  color: #fff;
  transition: all 250ms linear;
  outline: none;

  border: 3px solid #fc842d;
  border-radius: 30px;
}

.secondary-button:hover {
  color: #fff;
  background-color: #fc842d;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
}

.primary-button:hover {
  color: #fc842d;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
}
